// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #525659;
}

img {
  margin: 10px auto;
  display: block;
}

h1 {
  font-size: 22px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 32px;
}

.logo {
  display: inline;
  margin: 0px 10px;
  width: 40px;
}

a {
  color: #fd9827;
}

a:visited {
  color: #fd9827;
}

.text-center {
  text-align: center;
}

.page h2 {
  font-size: 18px;
  margin-top: 27px;
  white-space: pre;
}

.page p {
  margin: 0px;
  font-family: 'Times New Roman';
  line-height: 10px;
}

input {
  font-family: 'Times New Roman';
  line-height: 10px;
  margin: 0px;
  padding: 0px;
}

.intro-content p {
  padding: 2px;
  color: #333333;
}

.intro-content h2 {
  margin: 0px;
  display: inline;
}

.intro-top {
  margin-top: 15px;
  text-align: center;
  display: flex;
  align-items: center;
}

.inline-link {
  margin-left: 5px;
}

.side-box {
  left: 22px;
  width: 117px;
  height: 90px;
  position: fixed;
  top: 63px;
  border-radius: 3px;
  margin: 0px auto;
  padding: 15px 25px;
  font-size: 18px;
  background: white;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(43,43,43,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(43,43,43,1);
  box-shadow: 0px 0px 5px 1px rgba(43,43,43,1);
}

.publish-btn {
  margin: 10px auto;
  background: #e6e6e6;
  border-radius: 3px;
  border: none;
  padding: 5px 10px;
  color: black;
  font-size: 13px;
  font-weight: 100px;
  border: 1px solid black;
}

.publish-btn:hover {
  background: #d9d9d9;
  cursor: pointer;
}

.sat-amount {
  font-size: 35px;
}

.sats {
  margin-left: 2px;
}

.page-number {
  margin-top: 60px;
  text-align: center;
}

.information {
  text-align: center;
  font-size: 14px;
  margin-bottom: 36px;
}
.word-container {
  margin: 45px auto;
  width: 815px;
}
.page {
  background: white;
  padding: 72px 135px;
  margin: 18px auto;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(43,43,43,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(43,43,43,1);
  box-shadow: 0px 0px 5px 1px rgba(43,43,43,1);
  color: black;
  font-weight: 500;
}

.abstract {
  font-size: 13px !important;
  padding: 0px 50px;
}

.normal-paragraph {
  font-size: 14px;
}

.normal-paragraph input {
  font-size: 14px;
}

.word-wrap {
  margin: 1px 2px;
  padding: 2px 1px;
  display: inline-block;
}

.input-wrap {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  border-bottom: 3px solid black;
}

.word-wrap:hover {
  padding: 0px 1px;
  color: #fd9827;
  white-space: no-wrap;
  cursor: pointer;
}


.word-input {
  text-align: center;
  border: none;
}

input:focus {
  outline: none;
}

.number-item {
  display: flex;
}

.number-list {
  margin-bottom: 15px;
}
.number {
  margin-left: 20px;
  margin-right: 10px;
}

.publish-modal {
  text-align: center;
  padding: 20px 0px;
  width: 400px;
}

.publish-modal h1 {
  margin: 0px;
}

.publish-modal h1 {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 10px;
  font-size: 30px;
}

.publish-modal p {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btc-gif {
  width: 200px;
}

.payment-request {
  width: 250px;
  border-radius: 3px;
  font-size: 16px;
  margin-top: 15px;
  padding: 2px 0px;
}

.price {
  font-size: 18px;
}

.copy-btn {
  padding: 3px 8px;
  border-radius: 3px;
  background: #fd9827;
  color: white;
  margin-left: 8px;
}

.modal-bottom {
  margin-top: 20px;
  font-size: 16px;
}

.modal-bottom span {
  margin-right: 5px;

}

.modal-bottom button {
  padding: 4px 8px;
  border-radius: 3px;
  background: #e6e6e6;
  font-weight: bold;
}

.modal-bottom button:hover {
  background: #d9d9d9;
  cursor: pointer;
}
